# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Main"

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]
  workflow_dispatch:

permissions: {}

jobs:
  build:
    name: "Build"
    runs-on: "ubuntu-latest"
    permissions:
      contents: "read"
    env:
      NODE_VERSION: "lts/*"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3"
      - name: "Use Node.js ${{ env.NODE_VERSION }}"
        uses: "actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903"
        with:
          node-version: "${{ env.NODE_VERSION }}"
          cache: "npm"
      - name: "Install"
        run: "npm ci"
      - name: "Lint"
        run: "npm run lint"
      - name: "Build"
        run: "npm run build"
      - name: "Upload artifacts"
        if: "github.ref == 'refs/heads/publish'"
        uses: "actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b"
        with:
          path: "./dist/"
          retention-days: 1

  publish-github-pages:
    name: "GitHub Pages publish"
    if: "github.ref == 'refs/heads/publish'"
    needs: ["build"]
    runs-on: "ubuntu-latest"
    permissions:
      id-token: "write"
      pages: "write"
    environment:
      name: "github-pages"
      url: "${{ steps.deployment.outputs.page_url }}"
    steps:
      - name: "Publish"
        id: "deployment"
        uses: "actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e"
