# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Merge"

on:
  workflow_dispatch:
    inputs:
      from:
        description: "From"
        required: true
        default: "master"
      to:
        description: "To"
        required: true
        default: "publish"

permissions: {}

jobs:
  merge:
    name: "Merge"
    runs-on: "ubuntu-latest"
    permissions:
      contents: "write"
    env:
      FROM: "${{ github.event.inputs.from }}"
      TO: "${{ github.event.inputs.to }}"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3"
        with:
          ref: "${{ env.TO }}"
      - name: "Merge"
        run: |
          git fetch origin "${FROM:?}:${FROM:?}"
          git merge --no-edit "${FROM:?}"
          git push origin HEAD
